<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jezt</title>
    <link href="{% static 'imgs/favicon.ico' %}" rel="icon">


    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7COswald:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/05a24c4f06.js" crossorigin="anonymous"></script>
    <!-- styles -->
    <link href="{%static 'css/plugins.css' %}" rel="stylesheet" type="text/css">
    <link href="{%static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <style>
        
          
        
    .skill-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    grid-gap:2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;

}
.row{
    background: #1c1818;
    padding:40px 60px;
    
    height: 140px;
    border-radius: 20px;
    cursor: pointer;
    transition: all .35s;
}
.row i{
    color: var(--main-color);
    margin-bottom:20px;
    font-size:3rem ;
    text-align: center;
    
}
.row h3{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
.row:hover{
    transform: translateY(-10px);
}

.navbar-brand{
    margin-left: 60px;
    /* color: white; */
}
.sticky-navbar {
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 100; /* Ensure it's on top of other content */
  background-color: rgba(0, 0, 0, 0.9); /* Adjust the background color as needed */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for visual effect */
}


        .slider-container {
            width:10000px;
            /* Adjust this to your desired width */
            overflow: hidden;
        }

        .cards {
            display: flex;
            text-align: center;
            transition: transform 0.5s ease;
            /* Add smooth sliding transition */
        }

        .card {
            width: 400px;
            /* Adjust the width as needed */
           
            /* Adjust the height as needed */
            padding: 70px;
            background-color: #f1f1f1;
            border: 1px solid b;
            text-align: center;
            margin-right: 10px;
            
            /* Adjust spacing between cards */
        }
        #social:hover {
        color: #0056b3; /* New background color on hover */
    }

    </style>
</head>

<body class="loader1">
    <!-- loading start -->
    <div class="loading">
        <h3 class="logo-loading">Jezt</h3>
    </div>
    <!-- loading end -->

    <!-- pointer start -->
    <div class="pointer" id="pointer">
        <i class=""></i>
        <i class=""></i>
        <i class=""></i>
    </div>
    <!-- pointer end -->

    <!-- to-top-btn start -->
    <a class="to-top-btn pointer-small" href="#up">
			  <span class="to-top-arrow"></span>		    
		</a>
    <!-- to-top-btn end -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-size: xx-large;">Jezt</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown" style="margin-right: 40px; padding: 10px; font-size: larger;">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{%url 'index' %}" id="social">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'about-us' %}" id="social">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'team' %}" id="social">Our Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'chatbot'%}" id="social">Try Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'technology' %}" id="social">Technology</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'contact-us' %}" id="social">Contact</a>
              </li>
            </ul>
      
          </div>
         
        </div>
      </nav>

      

    <!-- header start -->
    <header class="fixed-header">
 
        <!-- header-flex-box end -->
    </header>
    <!-- header end -->

    <!-- nav-container start -->
   
    <!-- nav-container end -->

    <!-- animsition-overlay start -->
    <main class="animsition-overlay" data-animsition-overlay="true">
        <!-- home-slider start -->
        <section class="home-slider" id="up">
            <!-- swiper-wrapper start -->
            <div class="swiper-wrapper">
                <!-- swiper-slide start -->
                <div class="swiper-slide flex-min-height-box home-slide">
                    <!-- slide-bg -->
                    <div class="slide-bg overlay-loading2 overlay-dark-bg-1" style="background-image: url('{% static 'images/backgrounds/hh1.jpeg' %}');"></div>
                    <!-- home-slider-content start -->
                    <div class="home-slider-content flex-min-height-inner dark-bg-1">
                        <!-- flex-container start -->
                        <div class="container top-bottom-padding-120 flex-container response-999">
                            <!-- column start -->
                            <div class="six-columns six-offset">
                                <div class="content-left-margin-40">
                                    <h2 class="large-title-bold">
                                        Jezt AI maximizes facial recognition's potential
                                        <span class="slider-title-fill slider-tr-delay01" data-text="We generate">We generate</span><br>
                                        <span class="slider-title-fill slider-tr-delay02" data-text="creative &">creative &</span><br>
                                        <span class="slider-title-fill slider-tr-delay03" data-text="innovative ideas">innovative ideas</span>
                                    </h2>
                                    
                                    <p class="p-style-bold-up text-height-20 d-flex-wrap">
                                        <!-- <span class="slider-title-fill slider-tr-delay04" data-text="XOXO fam brunch">Jezt Technologies</span>
                                        <span class="slider-title-fill slider-tr-delay05" data-text="retro intelligentsia"></span>
                                        <span class="slider-title-fill slider-tr-delay06" data-text="live-edge vegan">live-edge vegan</span> -->
                                    </p>
                                    <div class="slider-fade slider-tr-delay07 top-margin-30">
                                        <div class="border-btn-box border-btn-red pointer-large">
                                            <div class="border-btn-inner">
                                                <a href="#" class="border-btn" data-text="Read more">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- home-slider-content end -->
                </div>
                <!-- swiper-slide end -->
                <!-- swiper-slide start -->
                <div class="swiper-slide flex-min-height-box home-slide">
                    <!-- slide-bg -->
                    <div class="slide-bg" style="background-image:url('{%static 'images/backgrounds/m5.png' %}')"></div>
                    <!-- home-slider-content start -->
                    <div class="home-slider-content flex-min-height-inner dark-bg-2">
                        <!-- flex-container start -->
                        <div class="container top-bottom-padding-120 flex-container response-999">
                            <!-- column start --> 
                            <div class="six-columns six-offset">
                                <div class="content-left-margin-40">
                                    {% comment %} <h2 class="slider-overlay2 medium-title red-color">Welcome Jezt</h2> {% endcomment %}
                                    <h3 class="large-title-bold text-color-4">
                                        <span class="slider-overlay2 slider-tr-delay01">Shaping the Future </span><br>
                                        <span class="slider-overlay2 slider-tr-delay02">with Advanced AI and </span><br>
                                        <span class="slider-overlay2 slider-tr-delay03">Robotics</span>
                                    </h3>
                                    <div class="slider-fade slider-tr-delay04 top-margin-30">
                                        <div class="border-btn-box pointer-large">
                                            <div class="border-btn-inner">
                                                <a href="#" class="border-btn" data-text="Read more">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- home-slider-content end -->
                </div>
                <!-- swiper-slide end -->
                <!-- swiper-slide start -->
                <div class="swiper-slide flex-min-height-box home-slide red-slide">
                    <!-- slide-bg -->
                    <div class="slide-bg" style="background-image:url('{%static 'images/backgrounds/B1.avif' %}')"></div>
                    <!-- home-slider-content start -->
                    <div class="home-slider-content flex-min-height-inner red-bg">
                        <!-- flex-container start -->
                        <div class="container top-bottom-padding-120 flex-container response-999">
                            <!-- column start -->
                            <div class="six-columns">
                                <h2 class="large-title-bold">
                                    <span class="slider-title-fill slider-tr-delay01" data-text="We’r Provided">We’r Provided</span><br>
                                    <span class="slider-title-fill slider-tr-delay02" data-text="Best Digital">Best Digital</span><br>
                                    <span class="slider-title-fill slider-tr-delay03" data-text="Services">Services</span>
                                </h2>
                                <div class="small-title-oswald text-height-20 d-flex-wrap top-margin-20">
                                    <span class="slider-title-fill slider-tr-delay04 top-margin-10" data-text="Creative team">Creative team</span>
                                    <span class="slider-title-fill slider-tr-delay05 top-margin-10" data-text="Innovation ideas">Innovation ideas</span>
                                    <span class="slider-title-fill slider-tr-delay06 top-margin-10" data-text="Best services">Best services</span>
                                </div>
                                <div class="arrow-btn-box slider-fade slider-tr-delay06 top-margin-30">
                                    <a href="#" class="arrow-btn pointer-large">Read more</a>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- home-slider-content end -->
                </div>
                <!-- swiper-slide end -->
            </div>
            <!-- swiper-wrapper end -->

            <!-- swiper-button-next start -->
            <div class="swiper-button-next">
                <div class="slider-arrow-next-box">
                    <span class="slider-arrow-next"></span>
                </div>
            </div>
            <!-- swiper-button-next end -->
            <!-- swiper-button-prev start -->
            <div class="swiper-button-prev">
                <div class="slider-arrow-prev-box">
                    <span class="slider-arrow-prev"></span>
                </div>
            </div>
            <!-- swiper-button-prev end -->

            <!-- swiper-pagination -->
            <div class="swiper-pagination"></div>

            <!-- scroll-btn start -->
            <a href="#down" class="scroll-btn pointer-large">
                <div class="scroll-arrow-box">
                    <span class="scroll-arrow"></span>
                </div>
                <div class="scroll-btn-flip-box">
                    <span class="scroll-btn-flip" data-text="Scroll">Scroll</span>
                </div>
            </a>
            <!-- scroll-btn end -->
        </section>
        
        <section class="light-bg-1 bottom-padding-30 top-padding-120" data-midnight="black">
            <!-- container start -->
            <div data-animation-container class="container small bottom-padding-60 text-center">
                <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2" data-animation="overlay-anim2">We are specialized In</h2><br>
                <p data-animation-child class="fade-anim-box tr-delay02 text-color-1 xsmall-title-oswald top-margin-5" data-animation="fade-anim">We Offer Best Solutions</p>
            </div>
            <!-- container end -->

            <!-- bottom-padding-90 start -->
            <div class="bottom-padding-90">
                <!-- portfolio-content start -->
                <div class="portfolio-content flex-min-height-box">
                    <!-- portfolio-content-inner start -->
                    <div class="portfolio-content-inner flex-min-height-inner">
                        <!-- flex-container start -->
                        <div class="flex-container container small">
                            <!-- column start -->
                            <div data-animation-container class="six-columns">
                                <div class="content-right-margin-40">
                                    <span class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">artificial intelligence</span>
                                    <h3 class="title-style text-color-1">
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">facial   </span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay02" data-animation="overlay-anim2">recognition</span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay03" data-animation="overlay-anim2">technology</span>
                                    </h3>
                                    <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04" data-animation="fade-anim">
                                        Facial recognition technology in conjunction with closed-circuit television (CCTV) systems has gained popularity in various applications, including security, access control, and surveillance.</p>

                                    <div data-animation-child class="arrow-btn-box top-margin-30 fade-anim-box tr-delay05" data-animation="fade-anim">
                                        <a href="" class="arrow-btn pointer-large animsition-link">Read more</a>
                                    </div>

                                </div>
                            </div>
                            <!-- column end -->
                            <!-- column start -->
                            <div class="six-columns top-padding-60">
                                <a href="" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                                    <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-2" data-animation="overlay-anim2" style="background-image:url('{%static 'images/projects/P1.avif' %}')"></div>
                                </a>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- portfolio-content-inner end -->
                </div>
                <!-- portfolio-content end -->
            </div>
            <!-- bottom-padding-90 end -->

            <!-- bottom-padding-90 start -->
            <div class="bottom-padding-90">
                <!-- portfolio-content start -->
                <div class="portfolio-content flex-min-height-box">
                    <!-- portfolio-content-inner start -->
                    <div class="portfolio-content-inner flex-min-height-inner">
                        <!-- flex-container start -->
                        <div class="flex-container reverse container small">
                            <!-- column start -->
                            <div class="six-columns top-padding-60">
                                <a href="project.html" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                                    <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-2" data-animation="overlay-anim2" style="background-image:url('{%static 'images/projects/P2.jpeg' %}')"></div>
                                </a>
                            </div>
                            <!-- column end -->
                            <!-- column start -->
                            <div data-animation-container class="six-columns">
                                <div class="content-left-margin-40">
                                    <span class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">artificial intelligence</span>
                                    <h3 class="title-style text-color-1">
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">Emotion </span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay02" data-animation="overlay-anim2">detection</span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay03" data-animation="overlay-anim2">technology</span>
                                    </h3>
                                    <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04" data-animation="fade-anim">Emotion detection using CCTV cameras is an application of computer vision and artificial intelligence (AI) technologies. It involves analyzing the facial expressions and body language of individuals captured by CCTV cameras to infer their emotional states</p>

                                    <div data-animation-child class="arrow-btn-box top-margin-30 fade-anim-box tr-delay05" data-animation="fade-anim">
                                        <a href="" class="arrow-btn pointer-large animsition-link">Read more</a>
                                    </div>

                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- portfolio-content-inner end -->
                </div>
                <!-- portfolio-content end -->
            </div>
            <!-- bottom-padding-90 end -->

            <!-- bottom-padding-90 start -->
            <!-- <div class="bottom-padding-90"> -->
                <!-- portfolio-content start -->
                <!-- <div class="portfolio-content flex-min-height-box"> -->
                    <!-- portfolio-content-inner start -->
                    <!-- <div class="portfolio-content-inner flex-min-height-inner"> -->
                        <!-- flex-container start -->
                        <!-- <div class="flex-container container small"> -->
                            <!-- column start -->
                            <!-- <div data-animation-container class="six-columns">
                                <div class="content-right-margin-40">
                                    <span class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">artificial intelligence</span>
                                    <h3 class="title-style text-color-1">
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">Vehicle </span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay02" data-animation="overlay-anim2">Tracking</span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay03" data-animation="overlay-anim2">Systems</span>
                                    </h3>
                                    <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04" data-animation="fade-anim">Vehicle and bus tracking systems have become indispensable tools for fleet management across various industries, including public transportation, logistics, construction, and emergency services. They not only optimize operations but also contribute to safety, cost savings, and environmental sustainability.</p>

                                    <div data-animation-child class="arrow-btn-box top-margin-30 fade-anim-box tr-delay05" data-animation="fade-anim">
                                        <a href="" class="arrow-btn pointer-large animsition-link">Read more</a>
                                    </div>

                                </div>
                            </div> -->
                            <!-- column end -->
                            <!-- column start -->
                            <!-- <div class="six-columns top-padding-60"> -->
                                <!-- <a href="" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link"> -->
                               <!-- <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-2" data-animation="overlay-anim2" style="background-image:url('{%static 'images/projects/P3.jpeg' %}')"></div> -->
                                <!-- </a> -->
                            <!-- </div> -->
                            <!-- column end -->
                        <!-- </div> -->
                        <!-- flex-container end -->
                    <!-- </div> -->
                    <!-- portfolio-content-inner end -->
                <!-- </div> -->
                <!-- portfolio-content end -->
            <!-- </div> -->
            <!-- bottom-padding-90 end -->

            <!-- bottom-padding-90 start -->
            <!-- <div class="bottom-padding-90"> -->
                <!-- portfolio-content start -->
                <!-- <div class="portfolio-content flex-min-height-box"> -->
                    <!-- portfolio-content-inner start -->
                    <!-- <div class="portfolio-content-inner flex-min-height-inner"> -->
                        <!-- flex-container start -->
                        <!-- <div class="flex-container reverse container small"> -->
                            <!-- column start -->
                            <!-- <div class="six-columns top-padding-60">
                                <a href="project.html" class="portfolio-content-bg-box pointer-large hover-box hidden-box animsition-link">
                                    <div class="portfolio-content-bg hover-img overlay-anim-box2 overlay-dark-bg-2" data-animation="overlay-anim2" style="background-image:url('{%static 'images/projects/P3.webp' %}')"></div>
                                </a>
                            </div> -->
                            <!-- column end -->
                            <!-- column start -->
                            <!-- <div data-animation-container class="six-columns">
                                <div class="content-left-margin-40">
                                    <span class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">artificial intelligence</span>
                                    <h3 class="title-style text-color-1">
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay01" data-animation="overlay-anim2">Student</span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay02" data-animation="overlay-anim2">Tracking</span><br>
                                        <span data-animation-child class="overlay-anim-box2 overlay-dark-bg-2 tr-delay03" data-animation="overlay-anim2">Systems</span>
                                    </h3>
                                    <p data-animation-child class="p-style-small text-color-2 fade-anim-box tr-delay04" data-animation="fade-anim">
                                        Student tracking systems are designed to monitor and manage the whereabouts and activities of students within educational institutions, ensuring their safety, improving efficiency, and providing valuable data for educational purposes. These systems can leverage a variety of technologies, including GPS, RFID (Radio-Frequency Identification), and mobile apps, and may incorporate elements of artificial intelligence for data analysis.</p>

                                    <div data-animation-child class="arrow-btn-box top-margin-30 fade-anim-box tr-delay05" data-animation="fade-anim">
                                        <a href="" class="arrow-btn pointer-large animsition-link">Read more</a>
                                    </div>

                                </div>
                            </div> -->
                            <!-- column end -->
                        <!-- </div> -->
                        <!-- flex-container end -->
                    <!-- </div> -->
                    <!-- portfolio-content-inner end -->
                <!-- </div> -->
                <!-- portfolio-content end -->
            <!-- </div> -->
            <!-- bottom-padding-90 end -->
        </section>
        <!-- section end -->

        <!-- section start -->
        <main class="animsition-overlay" data-animsition-overlay="true">

            <!-- section start -->
            <section class="dark-bg-2">
                <!-- container start -->
                <div class="container small top-bottom-padding-120">
                    <!-- medium-title start -->
                    <h2 data-animation-container class="medium-title">
                        <span data-animation-child class="title-fill" data-animation="title-fill-anim"
                            data-text="Fine Folks"></span><br>
                        <span data-animation-child class="title-fill tr-delay01" data-animation="title-fill-anim"
                            data-text="Our">Our</span><br>
                        <span data-animation-child class="title-fill tr-delay02" data-animation="title-fill-anim"
                            data-text="Technologies">Technologies</span>
                    </h2>
                    <!-- medium-title end -->
    
                    <!-- client-list start -->
                    <div class="skill-content">
                      
                        <div class="slider-container">
                            <div class="cards">
                                <div class="card">
                                    <h3>Machine Learning</h3>
                                </div>
                                <div class="card">
                                    <h3>Artificial Intelligence</h3>
                                </div>
                                <div class="card">
                                    <h3>Robotics</h3>
                                </div>
                                <div class="card">
                                    <h3>Internet of Things</h3>
                                </div>
                                <div class="card">
                                    <h3>Web Applications</h3>
                                </div>
                                <div class="card">
                                    <h3>Cloud Computing</h3>
                                </div>
    
                                <!-- Add more cards as needed -->
                            </div>
                        </div>
    
                    </div>
                    <!-- client-list end -->
                </div>
                <!-- container end -->
            </section>
    
    
    
    
        </main>
        
    </main>
    <!-- animsition-overlay end -->

    <!-- footer start -->
    <footer class="footer dark-bg-1">
        <!-- flex-container start -->
        <div class="flex-container container top-bottom-padding-90">
            <!-- column start -->
            <div class="two-columns bottom-padding-60">
                <div class="content-right-margin-10 footer-center-mobile">
                   <h1 style="color: white;">Jezt</h1>
                </div>
            </div>
            <!-- column end -->
            <!-- column start -->
            <div class="three-columns bottom-padding-60">
                <div class="content-left-right-margin-10">
                    <ul class="footer-menu text-color-4">
                        <li><a class="pointer-large animsition-link small-title-oswald hover-color active" href="{%url 'index' %}">Home</a></li>
                        <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="{%url 'about-us' %}">About Us</a></li>
                        <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="">Our Team</a></li>
                        <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="">Try Us</a></li>
                        <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="{%url 'technology' %}">Technology</a></li>
                        <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- column end -->
            <!-- column start -->
            <div class="four-columns bottom-padding-60">
                <div class="content-left-right-margin-10 footer-center-mobile">
                    <ul class="footer-information text-color-4">
                        <li><i class="far fa-envelope" style="font-size: medium;" id="social"></i><a href="#" style="font-size: small;" id="social">jezt.technologies@gmail.com</jezt.technologies></a></li>
                        <li><i class="fas fa-mobile-alt" style="font-size: medium;" id="social"></i><a href="#" style="font-size: small;" id="social">Phone Number</a></li>
                        <li><i class="fas fa-map-marker-alt" style="font-size: medium;" id="social"></i><a href="#" style="font-size: small;" id="social">Kakkanad<br><span>Kerala</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- column end -->
            <!-- column start -->
            <div class="three-columns bottom-padding-60">
                 <div class="content-left-right-margin-10 footer-center-mobile">
                    <ul class="footer-information text-color-4">
                        <li><i class='bx bxl-instagram' style="font-size: x-large;" id="social"></i><a href="#" class="" style="font-size: medium;" id="social">Instagram</a></li>
                        <li><i class='bx bxl-linkedin-square' style="font-size: x-large;" id="social"></i><a href="#" style="font-size: medium;" id="social">Linked in</a></li>
                        <li><i class='bx bxl-facebook-circle' style="font-size: x-large;" id="social"></i><a href="#" style="font-size: medium;" id="social"> Facebook</a></li>
                    </ul>
                </div>
            </div>
            <!-- column end -->
            <!-- column start -->
            <div class="twelve-columns">
                <p class="p-letter-style text-color-4 footer-copyright">&copy; Copyright 2023 Jezt. Theme by <a href="#">Jezt Technologies</a></p>
            </div>
            <!-- column end -->
        </div>
        <!-- flex-container end -->
    </footer>
    <!-- footer end -->

    <!-- scripts -->
    <script src="{%static 'js/plugins.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
    <script>
        // script.js
        // script.js
        // script.js
        // script.js
        // script.js
        document.addEventListener("DOMContentLoaded", function () {
            const cardsContainer = document.querySelector(".cards");
            const cards = document.querySelectorAll(".card");
            const cardWidth = cards[0].offsetWidth + 10; // Adjust for margin-right
            let currentIndex = 0;

            function showCards(index) {
                const translateX = -index * cardWidth;
                cardsContainer.style.transform = `translateX(${translateX}px)`;
            }

            function slide() {
                currentIndex++;
                if (currentIndex >= cards.length) {
                    currentIndex = 0;
                }
                showCards(currentIndex);
            }

            showCards(currentIndex);
            setInterval(slide, 3000); // Change card every 3 seconds (adjust as needed)
        });




    </script>
</body>

</html>